@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">nice working with you all ....keep learning++++++++++++



enjoy your weekend</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
